<html>

    <%- include("./partials/head.ejs") %>

<body>

    <%- include ("./partials/div.ejs") %>

    <div class = "about content">
        <h2>Breaking Bad characters blogs.</h2>
    </div>
</body>
</html>