<html>

    <%- include("./partials/head.ejs") %>

<body>

    <%- include ("./partials/div.ejs") %>

    <div class = "about content">
        <h2>My name is Thana' Jaradat and I study Computer science at Yarmouk University and this is my last semester</h2>
    </div>
</body>
</html>